.heading{
  color: #595959; 
  font-size: 1.8em;
  FONT-FAMILY: Arial;
  FONT-WEIGHT: bold;
  margin-top: 4px;
  padding: 3px;
  vertical-align: top;
  text-align: left;
}
.mandatory{
color: #D3222A;
font-size: .9em;
FONT-WEIGHT: normal;
FONT-FAMILY: Arial, Verdana, Helvetica;
}
:host {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
  }
  
  label {
    display: block;
    width: 25em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
    text-align: right;
    margin-bottom: 18px;
  }
  
  input[type='text'] select{
    height: 1em;
    font-size: 1em;
    padding-left: .4em;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    display: inline-block;
  }
  input[type='date']{
    height: 1em;
    font-size: 1em;
    padding-left: .4em;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    display: inline-block;
  }
  .pages{
    margin-top: 13px;
    width: 1500%;
    height: 96%;
    /* margin: 10px auto 10px auto; */
    background-color: #e6f7f8;
    opacity: 0.9;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4px;
    padding-right: 10px;
  }
  .radioQue{
    display: block;
    width: 25em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
    text-align: left;
    margin-bottom: 18px; 
  }
  .alert{
    margin-left: 196px;
    width: 424px;
    margin-top: -19px;
    color: #a94442;
  }
  .errormessages{
    position: relative;
    border: 1px;
    border-top-color: initial;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: initial;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: initial;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: initial;
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    padding-top: 0px;
    padding-right: 22px;
    padding-bottom: 15px;
    padding-left: 3px;
    margin: 0px;
    left: 766px;
    right: -31px;
    top: -435px;
    bottom: 1px;
    color: red;
    height: 281px;
    z-index: 0;
    width: 210px;
    visibility: visible;
  }