<div class="pages">
    <div class="heading">Porposed Insured</div>
    <div class="mandatory">* Fields marked with an asterisk are required</div>
  <form [formGroup]="proposedInsured" #proposedInsuredForm="ngForm">
    <div [hidden]="proposedInsuredForm.submitted">
      <label>
        Prefix:
        <select formControlName="prefix">
          <option *ngFor="let prefix of prefixes" [value]="prefix">{{prefix}}</option>
        </select>

      </label>
      <label>
        First Name:*
        <input type="text" formControlName="firstName">
      
      <div *ngIf="proposedInsured.controls['firstName'].invalid &&
    (proposedInsured.controls['firstName'].dirty || proposedInsured.controls['firstName'].touched)" class="alert">
        <div *ngIf="proposedInsured.controls['firstName'].errors.required">
          First Name is required.
        </div>
      </div>
    </label>
      <label>
        Middle Name:
        <input type="text" formControlName="middleName" maxlength="1">
      </label>
      <label>
        Last Name:*
        <input type="text" formControlName="lastName">
      
      <div *ngIf="proposedInsured.controls['lastName'].invalid &&
    (proposedInsured.controls['lastName'].dirty || proposedInsured.controls['lastName'].touched)" class="alert">
        <div *ngIf="proposedInsured.controls['lastName'].errors.required">
          Last Name is required.
        </div>
      </div>
    </label>
      <label>
        Permanent Address:*
        <input type="text" formControlName="permanentAddress">
      
      <div *ngIf="proposedInsured.controls['permanentAddress'].invalid &&
    (proposedInsured.controls['permanentAddress'].dirty || proposedInsured.controls['permanentAddress'].touched)"
        class="alert">
        <div *ngIf="proposedInsured.controls['permanentAddress'].errors.required">
          Permanent Address is required.
        </div>
      </div>
    </label>
      <label>
        Date Of Birth:*
        <input type="date" #dob formControlName="dateofBirth" (keyup)="validatedate(dob.value)">
        <div *ngIf="proposedInsured.controls['dateofBirth'].invalid &&
      (proposedInsured.controls['dateofBirth'].dirty || proposedInsured.controls['dateofBirth'].touched)"
          class="alert">
          <div *ngIf="proposedInsured.controls['dateofBirth'].errors.required">
            Date of birth is required.
          </div>
        </div>
        <div class="alert" >{{invalidDate}}</div>
      </label>

      <label>
        Social Security Number:*
        <input type="text" formControlName="ssn">
        <div *ngIf="proposedInsured.controls['ssn'].invalid &&
      (proposedInsured.controls['ssn'].dirty || proposedInsured.controls['ssn'].touched)" class="alert">
          <div *ngIf="proposedInsured.controls['ssn'].errors.required">
            SSN is required.
          </div>
        </div>
      </label>
      <!-- <button type="button" (click)="saveDetails()">Submit</button> -->
      <button type="button" class="previousButton" (click)="onPrev()">Previous</button>
      <button type="button" class="nextButton" (click)="onNext()">Next</button>
    </div>
  </form>
</div>
<div class="errormessages">
  <ul>{{proposedInsuredErrors.firstName}}</ul>
  <ul>{{proposedInsuredErrors.lastName}}</ul>
  <ul>{{proposedInsuredErrors.permanentAddress}}</ul>
  <ul>{{proposedInsuredErrors.dateofBirth}}</ul>
  <ul>{{proposedInsuredErrors.ssn}}</ul>
</div>
<!-- <div *ngIf="proposedInsuredForm.invalid">invalid form</div>
<div *ngIf="proposedInsuredForm.submitted">
  <p>You have submitted Proposed Insured screen with values</p>
  {{proposedInsured.value | json}}
</div> -->